{
    "openapi": "3.0.0",
    "info": {
        "title": "DADS API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://portal.dratdoorstep.com/api"
        },
        {
            "url": "https://deviboon.dratdoorstep.com/api"
        },
        {
            "url": "http://localhost/DADS_Web/api"
        }
    ],
    "paths": {
        "/about": {
            "get": {
                "tags": [
                    "About"
                ],
                "summary": "About",
                "description": "",
                "operationId": "getAbout",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/blog": {
            "get": {
                "tags": [
                    "Blog"
                ],
                "summary": "Blog",
                "description": "",
                "operationId": "getBlog",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/cart": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "summary": "Cart Details",
                "description": "",
                "operationId": "getCart",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/cart/delete/{cart_id}": {
            "delete": {
                "tags": [
                    "Cart"
                ],
                "summary": "Delete Cart Details",
                "description": "",
                "operationId": "deleteCartDetails",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cart_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Delete Cart Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/cart/getPaymentToken": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Amount",
                "description": "",
                "operationId": "getPaymentToken",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaymentGetwayRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to insert amount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/cart/setPaymentResponse": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Payment Response",
                "description": "",
                "operationId": "setPaymentResponse",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetPaymentResponse"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to insert payment response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/cart/doc_update/{id}": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Update Doctor Cart Details",
                "description": "",
                "operationId": "putCart",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DoctorCartRequestUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Update Appointment Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/cart/nur_update/{id}": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Update Nurse Cart Details",
                "description": "",
                "operationId": "putCartNurse",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NurseCartRequestUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Update Appointment Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/cart/lab_update/{id}": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Update Lab Details",
                "description": "",
                "operationId": "putCartLab",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/lab_id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/LabCartRequestUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Update Lab Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/cart/one_way_update/{id}": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Update OneWay Cart Details",
                "description": "",
                "operationId": "putCartOneWay",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/one_way_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OneWayCartRequestUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Update Appointment Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/cart/round_trip_update/{id}": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Update Round Trip Cart Details",
                "description": "",
                "operationId": "putCartRoundTrip",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/round_trip_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OneWayCartRequestUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Update Appointment Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/cart/multi_location_update/{id}": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Update Multi Location Cart Details",
                "description": "",
                "operationId": "putCartMultiLocation",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/multi_location_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MultiLocationCartRequestUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Update Appointment Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/city": {
            "get": {
                "tags": [
                    "City"
                ],
                "summary": "City",
                "description": "",
                "operationId": "getCity",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/country": {
            "get": {
                "tags": [
                    "Country"
                ],
                "summary": "Country",
                "description": "",
                "operationId": "getCountry",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/doctor_type": {
            "get": {
                "tags": [
                    "Doctor Type"
                ],
                "summary": "Doctor Type",
                "description": "",
                "operationId": "getDoctorType",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/feedback_option": {
            "get": {
                "tags": [
                    "Feedback Option"
                ],
                "summary": "Feedback Option",
                "description": "",
                "operationId": "getFeedbackOption",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/feedback_services": {
            "get": {
                "tags": [
                    "Feeback Services"
                ],
                "summary": "Feedback Services",
                "description": "",
                "operationId": "getFeedbackServices",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/help": {
            "get": {
                "tags": [
                    "Help"
                ],
                "summary": "Help",
                "description": "",
                "operationId": "getHelp",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/lab_test_type": {
            "get": {
                "tags": [
                    "Lab Test Type"
                ],
                "summary": "Lab Test Type",
                "description": "",
                "operationId": "getLabTestType",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/privacy_policy": {
            "get": {
                "tags": [
                    "Privacy & Policy"
                ],
                "summary": "Privacy & Policy",
                "description": "",
                "operationId": "getPrivacyAndPolicy",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/service_type": {
            "get": {
                "tags": [
                    "Nurse Service Type"
                ],
                "summary": "Nurse Service Type",
                "description": "",
                "operationId": "getServiceType",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/state": {
            "get": {
                "tags": [
                    "State"
                ],
                "summary": "State",
                "description": "",
                "operationId": "getState",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/terms_condition": {
            "get": {
                "tags": [
                    "Terms & Condition"
                ],
                "summary": "Terms & Condition",
                "description": "",
                "operationId": "getTermsCondition",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "Login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Either email or password incorrect",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/refresh_token": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "Refresh Token",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Either email or password incorrect",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/social_login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "Social Media",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SocialLoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Either email or password incorrect",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forgot_api": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "Forgot Api",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ForgotRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Either email or password incorrect",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/change_password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "Change Password",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChangePasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Either email or password incorrect",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/payment/additional_payment_pay/{id}": {
            "post": {
                "tags": [
                    "Additional Payment Pay"
                ],
                "summary": "Additional Payment",
                "description": "",
                "operationId": "putAdditionalPayment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/additonal_payment_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to add Additional Payment Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/additional_payment_pay/getAddditionalPaymentToken": {
            "post": {
                "tags": [
                    "Additional Payment Pay"
                ],
                "summary": "Additional Amount",
                "description": "",
                "operationId": "getAdditionalPaymentToken",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdditionalPaymentGetwayRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to insert amount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/additional_payment_pay/setAdditionalPaymentResponse": {
            "post": {
                "tags": [
                    "Additional Payment Pay"
                ],
                "summary": "Additional Payment Response",
                "description": "",
                "operationId": "AdditionalsetPaymentResponse",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdditionalSetPaymentResponse"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to insert payment response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/address/get": {
            "get": {
                "tags": [
                    "Address"
                ],
                "summary": "get Address Details",
                "description": "",
                "operationId": "getAddressDetails",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/address/add": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Add Address Details",
                "description": "",
                "operationId": "postAddress",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddressRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to insert Address profile",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/address/update/{address_id}": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Update Address Details",
                "description": "",
                "operationId": "putAddress",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/address_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddressRequestUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Update Address Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/address/delete/{address_id}": {
            "delete": {
                "tags": [
                    "Address"
                ],
                "summary": "Delete Address Details",
                "description": "",
                "operationId": "deleteAddress",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/address_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Delete Address Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/doctor/add": {
            "post": {
                "tags": [
                    "Appointment"
                ],
                "summary": "Add Doctor Appointment",
                "description": "",
                "operationId": "postDoctorAppointment",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DoctorRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Doctor Appointment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/nurse/add": {
            "post": {
                "tags": [
                    "Appointment"
                ],
                "summary": "Add Nurse Appointment",
                "description": "",
                "operationId": "postNurseAppointment",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NurseRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Nurse Appointment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/lab/add": {
            "post": {
                "tags": [
                    "Appointment"
                ],
                "summary": "Add Lab Appointment",
                "description": "",
                "operationId": "postLabAppointment",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/LabRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to insert Lab Appointment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/pharmacy/add": {
            "post": {
                "tags": [
                    "Appointment"
                ],
                "summary": "Add Pharmacy Appointment",
                "description": "",
                "operationId": "postPharmacyAppointment",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/PharmacyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to insert Pharmacy Appointment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/ambulance/one_way": {
            "post": {
                "tags": [
                    "Appointment"
                ],
                "summary": "Ambulance OneWay",
                "description": "",
                "operationId": "postAmbulanceOneWay",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AmbulanceOneWay"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Ambulance Appointment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/ambulance/round_trip": {
            "post": {
                "tags": [
                    "Appointment"
                ],
                "summary": "Ambulance RoundTrip",
                "description": "",
                "operationId": "postAmbulanceRoundTrip",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AmbulanceOneWay"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Ambulance Appointment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/ambulance/multi_location": {
            "post": {
                "tags": [
                    "Appointment"
                ],
                "summary": "Ambulance MultiLocation",
                "description": "",
                "operationId": "postAmbulanceMultiLocation",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AmbulanceMultiLocation"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Ambulance Appointment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/appointment_booking_history/booking_history/{service_id}": {
            "post": {
                "tags": [
                    "Booking History"
                ],
                "summary": "Appointment Booking History",
                "description": "",
                "operationId": "postAppointmentBookingHistory",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/service_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to List Booking History",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/visit_history/appoinment": {
            "post": {
                "tags": [
                    "Booking History"
                ],
                "summary": "Appoinment Visit Details",
                "description": "",
                "operationId": "postAppointmentHistory",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VisitAppointmentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to show Appointment Details profile",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/booking_history/doc_booking_update/{id}": {
            "post": {
                "tags": [
                    "Booking History"
                ],
                "summary": "Update Doctor Book Details",
                "description": "",
                "operationId": "putDoctorBooking History",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/doc_book_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BookAppointRequestUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Update Booking Appointment Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/booking_history/nur_booking_update/{id}": {
            "post": {
                "tags": [
                    "Booking History"
                ],
                "summary": "Update Nurse Book Details",
                "description": "",
                "operationId": "putNurseBooking History",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/nurse_book_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BookAppointRequestUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Update Booking Appointment Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/booking_history/lab_booking_update/{id}": {
            "post": {
                "tags": [
                    "Booking History"
                ],
                "summary": "Update Lab Book Details",
                "description": "",
                "operationId": "putLabBooking History",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/lab_book_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BookAppointRequestUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Update Booking Appointment Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid/unauthorized token or token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "Parameters missing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "dads_auth": []
                    }
                ]
            }
        },
        "/booking_history/ambulance_booking_update/{id}": {
            "post": {
                "tags": [
                    "Booking History"
                ],
                "summary": "Update Ambulance Book Details",
                "description": "",
                "operationId": "putAmbulanceBooking History",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ambulance_book_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BookAppointRequestUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Api_Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to Update Booking Appointment Details",
                        "content": {
                            "application/json": {
                                "schema": {
[...]
